[tool.poetry]
name = "dx"
version = "1.0.2"
description = "Python wrapper for Data Explorer"
authors = ["Dave Shoup <dave.shoup@gmail.com>", "Kyle Kelley <rgbkrk@gmail.com>"]
readme = "README.md"
license = "BSD"
homepage = "https://app.noteable.io/"
repository = "https://github.com/noteable-io/dx"
keywords = ["data", "exploration", "visualization"]

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^1.3.5"
ipython = "^8.2.0"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"